.sidenav-container {
  height: 100%;
}

.toolbar {
  height: 64px;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.user-button{
  color: white;
  background-color: "primary"; 
  font-size: 26px;
  height: 100%;
  
}

.router-out{
  display: flex;
}

.input{
  height: 20px;
}

.sidenavUser {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.example-spacer {
  flex: 1 1 auto;
}